.footer-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: auto;
    background-color: gray;
    align-items: center;
    font-family: 'Roboto Flex', sans-serif;
}

p {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

